@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uindbase Font 1";
  src: url("./fonts/UF1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Usually-font";
  src: url("./fonts/Usually-font.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Usually-font-Bold";
  src: url("./fonts/Usually-font-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scrollbar-width: none; /* Для Firefox */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Uindbase Font 1", sans-serif;
}
#root {
  height: 100%; /* Растяжение корневого контейнера */
  background: linear-gradient(90deg, #0e141c, #0a0f14); /* Фон для страницы */
}
.glitchForHeader {
  position: relative;
  color: #ffffff;
  text-shadow: 5px 0px 0px #a332ca,
    /* Фиолетовое смещение */ -3px 0px 0px #d1c12b,
    /* Желтое смещение */ 0 0 10px #d1c12b,
    /* Внешнее желтое свечение */ 0 0 0px #a332ca; /* Внешнее фиолетовое свечение */
  position: relative;
}
@media (max-width: 768px) {
  .glitchForHeader {
    text-shadow: 3px 0px 0px #a332ca,
      /* Уменьшение фиолетового смещения */ -2px 0px 0px #d1c12b,
      /* Уменьшение желтого смещения */ 0 0 8px #d1c12b,
      /* Уменьшение внешнего желтого свечения */ 0 0 0px #a332ca; /* Уменьшение внешнего фиолетового свечения */
  }
}

/* Медиа-запрос для устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  .glitchForHeader {
    text-shadow: 2px 0px 0px #a332ca,
      /* Минимизация смещения */ -1px 0px 0px #d1c12b,
      /* Минимизация желтого смещения */ 0 0 5px #d1c12b,
      /* Минимизация внешнего желтого свечения */ 0 0 0px #a332ca; /* Минимизация внешнего фиолетового свечения */
  }
}
.glitch {
  position: relative;
  color: #ffffff;
  text-shadow: 2px 0px 0px #a332ca,
    /* Фиолетовое смещение */ -1px 0px 0px #d1c12b,
    /* Желтое смещение */ 0 0 10px #d1c12b,
    /* Внешнее желтое свечение */ 0 0 0px #a332ca; /* Внешнее фиолетовое свечение */
  position: relative;
}

.noselect {
  user-select: none;
  pointer-events: none;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(209, 193, 43, 0.8), 0 0 10px rgba(209, 193, 43, 0.6);
}

.input-custom::placeholder {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #a0a3a9;
}

.navButton {
  color: white;
  padding: 10px 30px;
}
.logoCircle {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.colNavText {
  font-size: 20px;
  position: relative; /* Для работы псевдоэлемента ::before */
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.colNavText::before {
  content: "→";
  position: absolute;
  left: -30px;
  opacity: 0;
  transform: translateX(-20px);
  color: #ffffff;
  transition: all 0.3s ease;
}

/* Эффекты при наведении */
.colNavText:hover {
  text-decoration: underline;
  transform: translateX(30px);
}

.colNavText:hover::before {
  opacity: 1;
  transform: translateX(0);
}
